.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 16px;
}
:root {
  --primary-color: #fde68a;
  --sec-color: #d97706;
  --off-white: #fef3c7;
}
button {
  background-color: var(--sec-color);
  color: var(--off-white);
  border-radius: 0.3rem;
  margin: 2px 6px;
}
.Container {
  background-color: var(--primary-color);
  border: 1px solid var(--sec-color);
  margin: 10px;
  max-width: 80%;
  max-height: 600px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px;
}
.list {
  list-style: none;
  text-align: left;
  margin-left: -40px;

  max-height: 600px;
}
.list-listed {
  text-decoration: none;
  background-color: var(--sec-color);
  color: var(--off-white);
  margin: 7px;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px;
  max-height: 250px;
}
.images {
  border: 1px solid var(--sec-color);
  border-radius: 0.5rem;
  max-width: 100px;
  max-height: 120px;
  margin: 10px 15px 5px 5px;
}
.flt-left {
  float: left;
}
.flt-left {
  float: right;
}
